# Environments
.env
.venv
venv/
debug_venv/
/mcp-on-cloudrun/.venv/
/zoo_guide_agent/.venv/

# Python cache
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.codeoss/
.idea/

# Cache directories
.cache/
.pytest_cache/

# Log directories
.npm/_logs/

# Archives
*.zip

# Gemini CLI temp and history
.gemini/tmp/
.gemini/history/

# OS-specific
.DS_Store
Thumbs.db
